*{
    font-family: monospace;
    font-size: 16px;
}
nav{
    background-color: #343a40;
    color: white;
}
nav:hover{
    background-color: #495057;
}
.container form{
    width: 50vw ;
    min-width: 300px;
}
label{
letter-spacing: 2px;
font-family:fantasy;
}
button{
    font-family: fantasy;
    letter-spacing: 2px;
    font-weight: bold;
}